<div class="user_page">

  <div class="user_info">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <div class="prof_img" style='background-image: url("<%= @user.avatar.url %>")'>

    </div>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p> <%= link_to 'Edit', edit_user_registration_path(@user) %></p>
  </div>

  <h2> My Cats </h2>

    <% @pets.each do |pet| %>
      <div class="main_view">
        <p><strong> Name: </strong><%= pet.name %></p>
        <div class="cat_img" style='background-image: url("<%= pet.avatar.url %>")'>

        </div>

        <p><strong>Location:</strong> <%= pet.city %>, <%= pet.state %></p>
        <p><strong>Price (per hour):</strong> $<%= pet.price %></p>

        <div class="">

        </div>
        <%= link_to 'Show', pet_path(pet), :class => 'link' %>
      </div>

    <% end %>

  <h2> Upcoming Reservations </h2>

  <% @reservations.each do |reservation| %>

    <div class="main_view">
      <p><strong> Reservation Date: </strong><br>
        <%= reservation.month %> <%= reservation.day %>, <%= reservation.year %></p>

      <p><strong>Name:</strong> <%= reservation.pet.name %> </p>
      <div class="cat_img" style='background-image: url("<%= reservation.pet.avatar.url %>")'>

      </div>

      <p><strong>Location:</strong> <%= reservation.pet.city %>, <%= reservation.pet.state %> </p>
      <p><strong>Price (Per Hour):</strong> $<%= reservation.pet.price %> </p>

      <%= link_to 'Show', reservation_path(reservation), :class => 'link' %>
    </div>

  <% end %>

</div>
