<div class="user_page">

  <div class="user_info">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <div class="prof_img" style='background-image: url("<%= @user.avatar.url %>")'>

    </div>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p> <%= link_to 'Edit', edit_user_registration_path(@user) %></p>
  </div>

  <h2> My Cats </h2>


    <% @pets.each do |pet| %>
      <div class="main_view">
        <p><strong> Name: </strong><%= pet.name %></p>
        <div class="cat_img" style='background-image: url("<%= pet.avatar.url %>")'>

        </div>
        <p><strong>Location:</strong> <%= pet.city %>, <%= pet.state %></p>
        <p><strong>Price (per hour):</strong> $<%= pet.price %></p>

        <%= link_to 'Show', pet_path %>
        <%= link_to 'Edit', edit_pet_path(pet) %>
        <%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    <% end %>


  <h2> Upcoming Reservations </h2>
  <div class="user_reservations">


    <% @reservations.each do |reservation| %>

      <div class="user_res">
        <p><strong> Reservation Date: </strong><%= reservation.month %> <%= reservation.day %>, <%= reservation.year %></p>

        <p><strong>Name:</strong> <%= reservation.pet.name %> </p>
        <div class="cat_img" style='background-image: url("<%= pet.avatar.url %>")'>

        </div>

        <p><strong>Location:</strong> <%= reservation.pet.city %>, <%= reservation.pet.state %> </p>
        <p><strong>Price (Per Hour):</strong> $<%= reservation.pet.price %> </p>

        <p><%= link_to 'Show', reservation_path(reservation) %>
          <%= link_to 'Edit', edit_reservation_path(reservation) %>
        </p>
      </div>

    <% end %>
  </div>

</div>
