

<div class="main_contain">
  <% @pets.each do |pet| %>
    <div class="main_view">


      <h2><%= pet.name %></h2>
      <div class="cat_img" style='background-image: url("<%= pet.avatar.url %>")'>

      </div>

      <p><strong>Location:</strong> <%= pet.city %>, <%= pet.state %></p>
      <p><strong>Price (per hour):</strong> $<%= pet.price %></p>

      <p><%= link_to 'View', pet, :class => 'link' %>
    </div>
  <% end %>
</div>
