<div class="pet_page">
  <div class="pet_contain">
    <h2><%= @pet.name %></h2>

    <h3>Owned By: <a class='link' href="../users/<%= @pet.user_id %>"><%= @pet.user.first_name %> <%= @pet.user.last_name %></a></h3>

    <div class="cat_img" style='background-image: url("<%= @pet.avatar.url %>")'>

    </div>

    <p><strong>Description:</strong><br>
      <%= @pet.description %></p>
    <p><strong>Location:</strong><br>
      <%= @pet.city %>, <%= @pet.state %></p>
    <p><strong>Price (per hour):</strong><br>
      $<%= @pet.price %></p>

    <p><strong>Upcoming Reservations</strong>:<br>

      <% @reservations.each do |reservation| %>
        <% if reservation.date.strftime("%m / %d / %Y") > Date.today.strftime("%m / %d / %Y") %>
          <p><%= reservation.date.strftime("%m / %d / %Y") %></p>
        <% else %>
          <p>None</p>
        <% end %>
      <% end %>
    </p>

    <% if @pet.user === current_user %>
      <%= link_to 'Edit', edit_pet_path(@pet), :class => 'link' %> |
      <%= link_to 'Delete', @pet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link' %>
    <% else %>
      <p><%= link_to 'Reserve', new_reservation_path, :class => 'link' %></p>
    <% end %></p>
  </div>

</div>
