#Show cat




<h2><%= @pet.name %></h2>
<h3>Owned By: <a href="../users/<%= @pet.user_id %>"><%= @pet.user.first_name %> <%= @pet.user.last_name %></a></h3>
<p><%= image_tag @pet.avatar.url(:medium) %></p>

<p><strong>Description:</strong> <%= @pet.description %></p>
<p><strong>Location:</strong> <%= @pet.city %>, <%= @pet.state %></p>
<p><strong>Price (per hour):</strong> $<%= @pet.price %></p>

<p><%= link_to 'Reserve', new_reservation_path %></p>
