<%= form_with(model: @reservation, local: true) do |form| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="field">
    <%= form.label :month %> <br>
    <%= form.text_field :month %>
  </div>

  <div class="field">
    <%= form.label :day %> <br>
    <%= form.number_field :day %>
  </div>

  <div class="field">
    <%= form.label :year %> <br>
    <%= form.number_field :year %>
  </div>

  <div class="actions">
    <%= form.submit 'Reserve Cat', :class => 'submit_button' %>
  </div>
<% end %>
