<!DOCTYPE html>
<html>

<head>
  <title>TempurraryPals</title>
  <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>

  <div class="header">

  </div>

  <div class="topnav">
    <ul>
      <li>
        <%= link_to "TemPURRary Pals", root_path %>
      </li>
      <% if current_user %>
        <li>
          <%= link_to "My Profile", current_user %>
        </li>
        <li>
          <%= link_to "View Cats", pets_path %>
        </li>
        <li>
          <%= link_to "Lend a Cat", new_pet_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <% end %>
    </ul>
  </div>

  <%= yield %>
</body>

</html>
